<html>
<head>
    <title>Text Analysis</title>
</head>
<body>
    <a href="{{ url_for('upload') }}">Upload a new file</a>
    <h4>Summary statistics of numbers found:</h4>
    <ul>Count: {{ count }}</ul>
    <ul>Average: {{ mean }}</ul>
    <ul>Median: {{ med }}</ul>
    <ul>Standard deviation: {{ std }}</ul>
    <ul>Max: {{ max }}</ul>
    <ul>Min: {{ min }}</ul>
<img src="{{ url_for('static', filename = 'letters.png') }}" >
<br>
<img src="{{ url_for('static', filename = 'words.png') }}" >
</body>
</html>